
.navbar{
    display: flex;
}

.navbar-bg-black{
    background-color: #000;
}

.navbar-bg-white{
    background-color: #fff;
}

.navbar-bg-pink{
    background-color: pink;
}

.navbar-bg-green{
    background-color: green;
}

.navbar-bg-red{
    background-color: red;
}

.navbar-bg-blue{
    background-color: blue;
}

.navbar-nav{
    list-style-type: none;
    display: flex; 
}

.nav-link{
    text-decoration: none;
}

.navbar-search{

}

.navbar-login{
    
}


