.xl\:h-0 {
    height: 0;
}

.xl\:h-1 {
    height: 0.25rem;
}

.xl\:h-2 {
    height: 0.5rem;
}

.xl\:h-3 {
    height: 0.75rem;
}

.xl\:h-4 {
    height: 1rem;
}

.xl\:h-5 {
    height: 1.25rem;
}

.xl\:h-6 {
    height: 1.5rem;
}

.xl\:h-8 {
    height: 2rem;
}

.xl\:h-10 {
    height: 2.5rem;
}

.xl\:h-12 {
    height: 3rem;
}

.xl\:h-16 {
    height: 4rem;
}

.xl\:h-20 {
    height: 5rem;
}

.xl\:h-24 {
    height: 6rem;
}

.xl\:h-32 {
    height: 8rem;
}

.xl\:h-40 {
    height: 10rem;
}

.xl\:h-48 {
    height: 12rem;
}

.xl\:h-56 {
    height: 14rem;
}

.xl\:h-64 {
    height: 16rem;
}

.xl\:h-auto {
    height: auto;
}

.xl\:h-px {
    height: 1px;
}

.xl\:h-full {
    height: 100%;
}

.xl\:h-screen {
    height: 100vh;
}